CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.lib
*.ilk
*.exe


/build/
/lib/
/pdb/

.vscode
src/
lib/
bin/
